.joinj:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.joinj:active { background: rgb(152,15,0); } /* при нажатии */
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:100px;
}
.main {
    background-color: #FFF;
    width: 1000px;
    height:550px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:12px;
    font-weight:bold;

}

.text{

    padding-left:50px;
    text-align: center;
    padding-right:50px;
}

.login_form{
    padding-left:50px;
    text-align: center;
    padding: 20px;
}

.login_form_password{
    padding-left:50px;
    text-align: center;
    padding: 1px;
}

.login_div{
    width:350px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:10px;

}

.footer{
    color:#999797;
    height: 50px;
    text-align: center;
    margin:70px;
}

.content{
    height: 300px;

}



.search_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.search_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
        cursor:pointer;
}.search_button:active {
	position:relative;
	top:1px;
}
